doctype html
html(lang="en")
  link(rel='stylesheet', href='/src/main/bootstrap/bootstrap.min.css', type='text/css')
  head
    include staff.html
    title Order Complete
  body
    h1 ORDER COMPLETE
    each item in items
        p= item[1] + " " + item[0] + "'s from " + item[2]